.reaction-btn{
    outline: none;
    border: none;
    height: 17% !important;
}

.reaction-btn:hover{
    background-color: #f6f6f6;
}

.reaction-btn:active{
    background-color: #eaeaea !important;
}

.reaction-container{
    margin-left: calc(100%/24);
    margin-right: calc(100%/24);
    width: 20% !important;
    aspect-ratio: 20/calc(37.5*0.95);
}

.reaction-list{
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer/Edge */
}
.reaction-list::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

#iframe{
    overflow: hidden;
    aspect-ratio: 1/0.95;
    border: 1px solid darkgray;
    width: 37.5%;
}